*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.mother{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.7fr .3fr;
    grid-template-areas: 
    "header header header"
    "first-aside main second-aside"
    "first-aside footer footer";
}

header, .first-aside, main, .second-aside, footer{
    border: 2px solid;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    border-color: blue;
    grid-area: header;
}

.first-aside{
    grid-area: first-aside;
}

main{
    border-color: orange;
    grid-area: main;
}

.second-aside{
    border-color: red;
    grid-area: second-aside;
}

footer{
    border-color: green;
    grid-area: footer;
}